@page "/counter"
@inherits BaseComponent
@using BlazorState.Client.Components

<h1>Counter</h1>

<p>Current count: @State.Count</p>

<button onclick="@ButtonClick">Click me</button>

@functions {
  void ButtonClick()
  {
    Mediator.Send(new Features.IncrementCount.Request { Amount = 5 });
  }
}